<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <title>Bookers</title>
    </head>
    <body>
        <h1 class="header-line">ようこそ <strong>Bookers</strong> へ！</h1>
        <main>
            <p class="text"><strong>Bookers</strong> では、さまざまな書籍に関するあなたの意見や</p>
            <p class="text">印象を共有し交換することができます</p>
            <!--<a class="text link" href="index.html">start</a>-->
            <p class="text link">
                <%= link_to'start', '/books', class: "nav-link" %>
            </p>
        </main>
    </body>
</html>